.custom-card {
    max-width: 18rem; /* Adjust the width as needed */
    padding: 0rem;
    max-height: 5rem;
     /* Center the card horizontally */
}

.custom-card .card-body {
    padding: 0rem; /* Adjust padding as needed */
    max-height: 5rem;
}


.custom-card .card-text {
    font-size: 1.5rem; /* Adjust font size as needed */
    max-height: 5rem;
}
